// theme
$theme-colors: (
  'primary': #032541,
  'secondary': #01b4e4,
  'green': #1ed5a9,
  'green-light': #c0fecf,
  'white': #fafafa,
);

// typography
$h2-font-size: 4.8rem;
$h3-font-size: 3.2rem;

// nav link
$nav-link-color: #fafafa !important;
$nav-link-font-weight: 600;
$nav-link-font-size: 1.6rem;
