@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 62.5%;
  -webkit-text-size-adjust: 62.5%;
}

@import './custom.scss';
@import '~bootstrap/scss/bootstrap';
